<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiran.product.mapper.ProAttributeInfoMapper">

    <resultMap id="aa" type="com.yiran.model.entity.ProAttributeInfo">
        <id column="pro_attribute_info_id" property="proAttributeInfoId"/>

        <result column="size_id" property="sizeId"/>
        <result column="color_id" property="colorId"/>
        <association property="product" javaType="com.yiran.model.entity.Product" column="pro_id">
            <id column="pro_id" property="proId"/>
            <result column="kind" property="kind"/>
            <result column="pro_main_image_address" property="proMainImageAddress"/>
            <result column="selling_price" property="sellingPrice"/>
            <result column="pro_price" property="proPrice"/>
            <result column="discount" property="discount"/>
            <result column="brand_id" property="brandId"/>
        </association>
    </resultMap>
    <select id="getByBrandKindSizeColor" resultMap="aa">
        select p.kind,p.pro_main_image_address,p.selling_price,p.discount,p.brand_id,pattr.pro_attribute_info_id,pattr.size_id,pattr.color_id
        from product p
        join pro_attribute_info pattr
        on pattr.pro_id = p.pro_id
        <where>
            <if test="brandId != null">
                 brand_id = #{brandId}
            </if>
            <if test="kind != null">
                and kind = #{kind}
            </if>
            <if test="sizeId != null">
                and size_id = #{sizeId}
            </if>
            <if test="colorId != null">
                and color_id = #{colorId}
            </if>
        </where>
    </select>
</mapper>
